<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="css/app.css">

    <title>Hashtag | Food Your Order Now</title>
</head>

<body>

    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>

    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="#" class="nav__logo">Hashtag</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">Services</a></li>
                    <li class="nav__item"><a href="#menu" class="nav__link">Menu</a></li>
                    <li class="nav__item"><a href="/register" class="nav__link">Register</a></li>
                    <li class="nav__item"><a href="/login" class="nav__link">Login</a></li>
                    <li class="nav__item"><a href="/cart" class="nav__link button">Cart</a></li>


                    <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>


    <main class="l-main">
        <!--========== HOME ==========-->
        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    <h1 class="home__title">Hashtag</h1>
                    <h2 class="home__subtitle">Try the best food of <br> the town</h2>
                    <a href="#menu" class="button">View Menu</a>
                </div>

                <img src="img/home.png" alt="" class="home__img">
            </div>
        </section>

        <!--========== ABOUT ==========-->
        <section class="about section bd-container" id="about">
            <div class="about__container  bd-grid">
                <div class="about__data">
                    <span class="section-subtitle about__initial">About us</span>
                    <h2 class="section-title about__initial">We cook the best <br>food in the town</h2>
                    <p class="about__description">We cook the best food in the entire city, with excellent customer
                        service, the best meals and at the best price, visit us.</p>
                    <a href="#" class="button">Explore history</a>
                </div>

                <img src="/img/about.jpg" alt="" class="about__img">
            </div>
        </section>

        <!-- ========== SERVICES ========== -->
        <section class="services section bd-container" id="services">
            <span class="section-subtitle">Offering</span>
            <h2 class="section-title">Our amazing services</h2>

            <div class="services__container  bd-grid">
                <div class="services__content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"
                        style="fill:#069C54;transform:-ms-filter">
                        <path
                            d="M21 15c0-4.625-3.507-8.441-8-8.941V4h-2v2.059C6.507 6.559 3 10.375 3 15v2h18V15zM2 18H22V20H2z">
                        </path>
                    </svg>
                    <h3 class="services__title">Excellent Services</h3>
                    <p class="services__description">We offer our clients excellent quality services for many years,
                        with the best and delicious food in the city.</p>
                </div>

                <div class="services__content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"
                        style="fill:#069C54;transform:-ms-filter">
                        <path
                            d="M9.76,2.021C9.312,1.996,8.907,2.296,8.771,2.724L3.579,19.166c-0.244,0.772,0.483,1.499,1.255,1.255l16.442-5.192 c0.428-0.135,0.728-0.54,0.702-0.988C21.6,7.666,16.334,2.4,9.76,2.021z M10,16c-1.104,0-2-0.896-2-2s0.896-2,2-2s2,0.896,2,2 S11.104,16,10,16z M16,14c-1.104,0-2-0.896-2-2s0.896-2,2-2s2,0.896,2,2S17.104,14,16,14z">
                        </path>
                    </svg>

                    <h3 class="services__title">Tasty Food</h3>
                    <p class="services__description">We offer our clients excellent quality services for many years,
                        with the best and delicious food in the city.</p>
                </div>

                <div class="services__content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"
                        style="fill:#069C54;transform:-ms-filter">
                        <path fill="none" d="M17.434 9L15 9 15 12 19.233 12z"></path>
                        <circle fill="none" cx="16.5" cy="17.5" r="1.5"></circle>
                        <circle fill="none" cx="6.5" cy="17.5" r="1.5"></circle>
                        <path
                            d="M19.148,7.971C18.789,7.372,18.132,7,17.434,7H15V5c0-0.553-0.447-1-1-1H4C2.897,4,2,4.897,2,6v10 c0,0.746,0.416,1.391,1.023,1.734C3.146,19.553,4.65,21,6.5,21c1.759,0,3.204-1.309,3.449-3h3.102c0.245,1.691,1.69,3,3.449,3 s3.204-1.309,3.449-3H20c1.103,0,2-0.897,2-2v-3c0-0.182-0.049-0.359-0.143-0.515L19.148,7.971z M15,9h2.434l1.8,3H15V9z M6.5,19 C5.673,19,5,18.327,5,17.5S5.673,16,6.5,16S8,16.673,8,17.5S7.327,19,6.5,19z M16.5,19c-0.827,0-1.5-0.673-1.5-1.5 s0.673-1.5,1.5-1.5s1.5,0.673,1.5,1.5S17.327,19,16.5,19z">
                        </path>
                    </svg>
                    <h3 class="services__title">Delivery</h3>

                    <p class="services__description">We offer our clients excellent quality services for many years,
                        with the best and delicious food in the city.</p>
                </div>
            </div>
        </section>

        <!-- {{!-- ========== MENU ========== -->
        <section class="menu section bd-container" id="menu">
            <span class="section-subtitle">Special</span>
            <h2 class="section-title">Menu to Choose from</h2>

            <div class="menu__container bd-grid">

                <%pizzas.forEach(function(pizza){ %>

                    <div class="menu__content">
                        <img src="/img/<%=pizza.image%>" alt="" class="menu__img">
                        <h3 class="menu__name"><%=pizza.name%></h3>
                       
                        <span class="menu__detail"><%=pizza.size%></span>
                        <span class="menu__preci"><%=pizza.price%></span>
                        <a href="" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                    </div>



                    <%})%>


            </div>
        </section>

        <!--===== APP =======-->
        <section class="app section bd-container">
            <div class="app__container bd-grid">
                <div class="app__data">
                    <span class="section-subtitle app__initial">Download Our App Now</span>
                    <h2 class="section-title app__initial">App is aviable</h2>
                    <p class="app__description">Find our application and download it, you can make reservations, food
                        orders, see your deliveries on the way and much more.</p>
                    <div class="app__stores">
                        <a href="#"><img src="/img/app1.png" alt="" class="app__store"></a>
                        <a href="#"><img src="/img/app2.png" alt="" class="app__store"></a>
                    </div>
                </div>

                <img src="/img/movil-app.png" alt="" class="app__img">
            </div>
        </section>

        <!--========== CONTACT US ==========-->
        <section class="contact section bd-container" id="contact">
            <div class="contact__container bd-grid">
                <div class="contact__data">
                    <span class="section-subtitle contact__initial">Let's talk</span>
                    <h2 class="section-title contact__initial">Contact us</h2>
                    <p class="contact__description">If you want to reserve a table in our restaurant, contact us and we
                        will attend you quickly, with our 24/7 chat service.</p>
                </div>

                <div class="contact__button">
                    <a href="#" class="button">Contact us now</a>
                </div>
            </div>
        </section>
    </main>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3397.54024985579!2d74.88459871506751!3d31.619055249426218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39197cb0090d8da9%3A0x8302e085548d6689!2sAjit%20Nagar%2C%20Katra%20Ahluwalia%2C%20Amritsar%2C%20Punjab!5e0!3m2!1sen!2sin!4v1623416800481!5m2!1sen!2sin"
        width="100%" height="500px" style="border:1px;" allowfullscreen="" loading="lazy"></iframe>


    footer class="footer section bd-container">
    <div class="footer__container bd-grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">Hashtag</a>
            <span class="footer__description">Restaurant</span>
            <div>
                <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Services</h3>
            <ul>
                <li><a href="#" class="footer__link">Delivery</a></li>
                <li><a href="#" class="footer__link">Pricing</a></li>
                <li><a href="#" class="footer__link">Fast food</a></li>
                <li><a href="#" class="footer__link">Reserve your spot</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Information</h3>
            <ul>
                <li><a href="#" class="footer__link">Event</a></li>
                <li><a href="#" class="footer__link">Contact us</a></li>
                <li><a href="#" class="footer__link">Privacy policy</a></li>
                <li><a href="#" class="footer__link">Terms of services</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Adress</h3>
            <ul>
                <li>Ajit Nagar</li>
                <li>Sultanwind Road</li>
                <li>+91 81988-48688</li>
                <li>hashtagfoods@contactus.com</li>
            </ul>
        </div>
    </div>

    <p class="footer__copy">&#169; 2021 Hashtag. All right reserved</p>
    </footer>



    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--========== MAIN JS ==========-->
    

</body>

</html>

<script src="/js/app.js"></script>

</body>

</html>